# ignore Microsoft Word file
*.docx

# pycache
__pycache__

# pretrain weight
*.pt


# MAC
.DS_Store

# images in styleGAN
/pixel2style2pixel/output_source*
/pixel2style2pixel/output_source_rmbg*
/pixel2style2pixel/input*
